<div>
  <h1>
    Please choose an access typology
  </h1>
  <div class="centerImage">
    <img src="./assets/user.png" class="userImage" />
    <img src="./assets/manufacturer.png" class="manufacturerImage" />
  </div>
  <button (click)="startSigninMainWindow()" class='btn btn-default userButton'>
            <i class='glyphicon glyphicon-chevron-right'></i> User
        </button>
  <button class='btn btn-default manufacturerButton'>  
            <i class='glyphicon glyphicon-chevron-right'></i> Manufacturer
        </button>
</div>