<!--The child you navigate to will live here-->
<nav class="navbar left">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#" style="color:#1d1d1b">Manufacturer<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#" style="color:#1d1d1b">Users<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#" style="color:#1d1d1b">Products<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#" style="color:#1d1d1b">Feedback<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#" style="color:#1d1d1b">Logs<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="startSignoutMainWindow()">
          Logout {{username}}
        </a>
      </li>
    </ul>
  </div>
</nav>
<hr/>
<div class="col-xs-4 col-sm-2 placeholder">
  <h3>List of some data fetched by a service</h3>
  <ul *ngIf="products">
    <li *ngFor="let product of products">
      <a [routerLink]="['/pages/productdetails',product.productId]"><img src="./assets/{{product.productFileName}}" class="img-rounded shelter1 products" /></a>
      <p>{{product.productName}}</p>
    </li>
  </ul>

</div>

<div>
  <button (click)="goBack()">Back</button>
  <a routerLink="/pages/productdetails"> 
             go to the nextpage</a>
</div>